.button{
    width: 150px;
    height: 56px;
    border-radius: 8px;
    @include flex(flex, row, center, center);
    font-size: 15px;
    color: $black;
    letter-spacing: 1px;
    background: $white;
    font-weight: 500;
    outline: none;
    border: none;
    transition:all 0.5s ease;
    
}

a.button:hover{
    cursor: pointer;
    background-color: $light-peach;
    color: $white;
    
}