.design-card-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(auto,350px));
    grid-template-rows: 478px;
    margin-top: 160px;
    gap: 20px;
    position: relative;
    transition: all 0.2s ease-in ;
}

.design-card {
    @include flex(flex, column, flex-start, center);
    cursor: pointer;
    transition: all 0.2s ease;
}

.design-card:hover{
    transform: scale(1.05);;
}

.design-card > img {
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    pointer-events: none;
}

.design-card-text {
    width: 100%;
    height: 158px;
    @include flex(flex, column, space-between, center);
    text-align: center;
    padding: 32px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    background: rgba(253, 243, 240, 1);
    pointer-events: none;
}

.active .design-card-text{
    background-color: $peach;
}

.active .design-card-text > *{
    color: $white;
}

.design-card-text > p {
    font-weight: 400;
}

.peach{
    color: $peach;
}

@media screen and (max-width: 1200px) {
    .design-card-container {
        width: 689px;
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(auto,689px));
        grid-template-rows: 310px;
        gap: 50px;
        margin-top: 120px;
        
    }

    
    div.design-card {
        
        @include flex(flex, row, flex-start, center);
    
    }

    
    .design-card > img {
        width: 339px;
        height: 310px;
        border-top-left-radius: 15px;
        border-top-right-radius: unset;
        border-bottom-left-radius: 15px;
    }
    
    div.design-card-text {
        width: 350px;
        height: 310px;
        padding: 109px 41px 108px 32px;
        border-bottom-right-radius: 15px;
        border-bottom-left-radius: unset;
        border-top-right-radius: 15px;
    }

}

@media screen and (max-width: 768px) {
    .design-card-container {
        width: 327px;
        display: grid;
        
        grid-template-columns: repeat(auti-fill,minmax(auto,327px));
        grid-template-rows: 478px;
        
        margin-top: 120px;
    }

    
    div.design-card {
        @include flex(flex, column, flex-start, center);
    }
    
    .design-card > img {
        width: 100%;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        border-bottom-left-radius: unset;
    }
    
    div.design-card-text {
        width: 100%;
        height: 158px;
        padding: 32px;
        border-bottom-right-radius: 15px;
        border-bottom-left-radius: 15px;
        border-top-right-radius: unset;
    }
    
}